button {
  background-image: linear-gradient(to right, #1d2b64 0%, #f8cdda 51%, #1d2b64 100%);
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(206, 193, 193);
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.button-active {
  transform: scale(1.3);
  background-image: linear-gradient(to right, #641d58 10%, #f782a5 81%, #dd6b71 100%);
}

.autoplay {
  display: inline;
}
