.footer {
  height: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.footer-img {
  width: 5rem;
}

.year {
    font-size: 2rem;
    color: rgb(36, 82, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
