h1 {
  color: rgb(231, 176, 114);
  font-size: 4rem;
}
.score {
  width: max-content;
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}
.score input {
  border: none;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: inherit;
  display: block;
}
label {
  display: block;
  color: rgb(132, 107, 245);
  font-size: 1.2rem;
  padding: 1rem 0 0.3rem;
}

.draw {
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(255, 60, 0);
}

.player-active {
  border: 1px solid rgb(56, 28, 28);
  border-radius: 4px;
}

.hidden {
  opacity: 0;
}
