* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Mono';
}

html {
  font-size: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #8bccd8;
  min-height: 100vh;
}
